@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: #a1a1a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
}

input{
    border: none;
    height: 25px;
    border-radius: 5px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div{
    margin: 10px 5px;
}

button{
    margin-top: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 10px;
    background: #2b2b2b;
    padding: 10px 20px;
    color: #fff;
}

button:hover{
    transition: 1s ease-in-out;
    background: #444343;
    transform: scale(1.1, 1.1);
}

a{
    text-decoration: none;
    border-bottom: 2px solid #2b2b2b;
    border-left: 2px solid #2b2b2b;
    margin: 10px;
    padding: 5px;
}

a:hover{
    background: #adadad;
}
nav{
    margin-bottom: 35px;
}
.card{
    padding: 35px;
    margin-top: 30px;
    box-shadow: 0 2px 3px 4px #c5c5c5;
    max-width: 50vw;
}

.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.context{
    font-family: 'Cardo', serif;
}

.context div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resp-hidden{
    display: none;
}